extends layout

block content
  main
    h2= title
    p Welcome to #{title}

    article
      h3 お知らせ
      ul
        li
          a(href='#') 新着その１
        li
          a(href='#') 新着その２
        li
          a(href='#') 新着その３
