doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block style
    block script
  body
    header
      h1
        a(href='/')= 'WebSystem'
    nav

    main
      block content

    footer