doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.min.js", type="text/javascript")
    script(src='/javascripts/nav.js', type="text/javascript")
    block script
  body
    header
      h1
        a(href="/") Web管理システム
      a(id="logout", href="/login/logout") logout
    nav
    block content
