doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.min.js", type="text/javascript")
  body
    header
      h1 Web管理システム
    block content